<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %> <!-- This should be correct -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="id" id="wrapper">
        <%- include('../partials/header'); %>
        <%- include('../partials/navigation'); %>
    </div>

    <main>
        <%- body %>

        <%- include('../partials/footer'); %>
    </main>
</body>
</html>